{% extends "base.twig" %}

{% block content %}
	<div class="section h-padding-top-xxl h-padding-bottom-xxl">
		<div class="webpage-heading-container h-margin-bottom-lg">
			{% if current_user.ID == author.ID %}
				<h2 class="h2 h2--with-mobile-icon">Minu andmed</h2>
			{% elseif author.first_name is not empty and author.last_name is not empty %}
				<h2 class="h2">{{author.first_name ~ ' ' ~ author.last_name}} andmed</h2>
			{% else %}
				<h2 class="h2">{{author.display_name}} andmed</h2>
			{% endif %}
			{% if current_user.ID == author.ID %}
				{% include "components/author/author-profile-edit-password.twig" %}
			{% endif %}
		</div>
		<div class="userinfo-container">
			<div class="author-page-avatar h-margin-bottom-lg">
				{{ function('get_avatar', author.ID, '160') }}
			</div>
			{% if current_user.ID == author.ID or isAdministrator %}
				{% include "components/author/author-profile-edit-avatar.twig" %}
			{% endif %}
			<div class="author-page-user-info">
				{% include "components/author/author-profile-info.twig" %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	{% if successfulPasswordUpdate %}
		<script type="text/javascript">
			notifyOnSuccess('Parool muudetud!', 'Kasutaja parool edukalt muudetud');
		</script>
	{% elseif badPassword %}
		<script type="text/javascript">
			notifyOnError('Vale parool!', 'Sisestatud parool oli vale');
		</script>
	{% elseif passwordsDidNotMatch %}
		<script type="text/javascript">
			notifyOnError('Parooli ei muudetud!', 'Uued paroolid erinesid üksteisest');
		</script>
	{% endif %}

	{% if userChangedHisPersonalInfo %}
		<script type="text/javascript">
			notifyOnSuccess('Andmed muudetud!', 'Kasutaja andmed edukalt muudetud');
		</script>
	{% elseif errorsOccuredWhileUpdatingPersonalInfo %}
		<script type="text/javascript">
			notifyOnError('Andmete muutmisel esines tõrkeid', "{{ updatingErrors }}" );
		</script>
	{% endif %}
{% endblock %}
