{% extends "base.twig" %}

{% block content %}
  <h2 class="h2 h-margin-bottom-lg">{{ post.title }}</h2>
  {% if users %}
    <table
    data-toggle="table"
    data-search="true"
    class="users-table">
      <thead>
        <tr>
          {% if canSendGroupEmails %}
              <th>E-mail</th>
          {% endif %}
          <th>Pilt</th>
          {% if isABookie or  choirBoss %}
              <th>Isikukood</th>
          {% endif %}
          <th>Liikme nimi</th>
          <th data-sortable="true">Häälerühm</th>
          <th data-sortable="true">Tiitel</th>
          <th>Telefoninumber</th>
          <th>Email</th>
          <th data-sortable="true">Sünnipäev</th>
          <th data-sortable="true">Amet naiskooris</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          {% if canSendGroupEmails %}
          <td>
            <input type="checkbox" value="{{ user.user_email }}" class="sendEmailsTo">
          </td>
          {% endif %}
          <td>
            <img src="{{ function('get_avatar_url', user.ID) }}">
          </td>
          <td>{{user.display_name}}</td>
          {% if isABookie or choirBoss %}
            <td>{{ user.personal_ID }}</td>
          {% endif %}
          <td>{{ user.voice }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.user_email }}</td>
          <td>
            {{ function('calculateBirthday', user.personal_ID )}}
          </td>
          <td>
            {{ function('returnUserRoles', user.roles)}}
          </td>
          <td> {% include "components/userinfo.twig" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if canSendGroupEmails %}
      {% include "components/groupemail.twig" %}
    {% endif %}

  {% else %}
    <p>There are currently no users in the database</p>
  {% endif %}
 {% endblock %}