{% extends "components/tables/table.twig" %}

{% block table_classes %}
  class="naiskoor-table documents-table"
  data-sort-name="title"
  data-sort-order="asc"
{% endblock %}

{% block table_header %}
  <tr>
    <th data-sortable="true" class="h-text-left">Dokumendi tüüp</th>
    <th data-field="title" data-sortable="true" class="h-text-left">Pealkiri</th>
    <th data-sortable="true" class="h-text-center">Link</th>
    <th class="h-text-center">Fail</th>
    <th data-sortable="true" class="h-text-left">Lisamise kuupäev</th>
    {% if userCanEditDocuments %}
      <th data-sortable="true" class="h-text-left">Tavakasutajale peidetud</th>
      <th class="h-text-center">Tegevused</th>
    {% endif %}
  </tr>
{% endblock %}

{% block table_body %}
  {% for document in documents %}
    {% if document.is_hidden %}
      {% if userCanSeeHiddenDocuments %}
        <tr>
          <td>{{ document.document_type }}</td>
          <td>{{ document.title }}</td>
          <td>
            <a href="{{ document.website_link.url }}" class="open-new-window">{{ document.website_link.title }}</a>
          </td>
          <td>
            {% if document.document %}
            <div class="h-display-flex">
              <a target="_blank" href="{{ function('retrieve_file_url', document.document) }}"  class="open-new-window clickable-link">
                {% include 'components/icon.twig' with { name: 'sprite-file-music', modifier: 'document-table-icon'} %}
                Ava uues aknas
              </a>
              <a href="{{ function('retrieve_file_url', document.document) }}" download  class="clickable-link document-table-link-and-icon--hover-blue">
                {% include 'components/icon.twig' with { name: 'sprite-download-icon', modifier: 'document-table-icon'} %}
                Lae alla
              </a>
            </div>
            {% endif %}
          </td>
          <td>{{ document.date }}</td>
          {% if userCanEditDocuments %}
            <td>
              {% if document.is_hidden %}
                Peidetud
              {% else %}
                Avalik
              {% endif %}
            </td>
            <td>
              <span class="h-display-flex-justify">
                {% include "components/delete-post.twig" with {title: document.title, id: document.ID, modifier: 'delete-item-icon' } %}

                <a href="{{ document.link }}"  class="clickable-link">
                  {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'document-table-icon document-table-link-and-icon--hover-blue'} %}
                </a>
              </span>
            </td>
          {% endif %}
        </tr>
      {% endif %}
    {% else %}
      <tr>
        <td>{{ document.document_type }}</td>
        <td>{{ document.title }}</td>
        <td>
          <a href="{{ document.website_link.url }}" class="open-new-window">{{ document.website_link.title }}</a>
        </td>
        <td>
          {% if document.document %}
          <div class="h-display-flex">
            <a target="_blank" href="{{ function('retrieve_file_url', document.document) }}"  class="open-new-window clickable-link">
              {% include 'components/icon.twig' with { name: 'sprite-file-music', modifier: 'document-table-icon'} %}
              Ava uues aknas
            </a>
            <a href="{{ function('retrieve_file_url', document.document) }}" download  class="clickable-link document-table-link-and-icon--hover-blue">
              {% include 'components/icon.twig' with { name: 'sprite-download-icon', modifier: 'document-table-icon'} %}
              Lae alla
            </a>
          </div>
          {% endif %}
        </td>
        <td>{{ document.date }}</td>
        {% if userCanEditDocuments %}
          <td>
            {% if document.is_hidden %}
              Peidetud
            {% else %}
              Avalik
            {% endif %}
          </td>
          <td>
            <span class="h-display-flex-justify">
              {% include "components/delete-post.twig" with {title: document.title, id: document.ID, modifier: 'delete-item-icon'} %}

              <a href="{{ function('editThisPostUrl', document.ID) }}" class="clickable-link">
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'document-table-icon document-table-link-and-icon--hover-blue'} %}
              </a>
            </span>
          </td>
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}
