{% extends "components/tables/table.twig" %}

{% block table_options %}
  {{ parent() }}
  data-show-columns="true"
{% endblock %}

{% block table_classes %}
  class="naiskoor-table users-table"
{% endblock %}

{% block table_header %}
  <tr>
    {% if canSendGroupEmails %}
      <th data-width="36" class="h-text-center table-cell--fixed users-table__checkbox-js">
        <input onClick="toggleAllUsersCheckboxes(this)" type="checkbox" id="toggle-all-users">
      </th>
    {% endif %}
    <th class="h-text-center table-cell--fixed users-table__avatar-js">Pilt</th>
    <th class="h-text-left table-cell--fixed users-table__name-js">Liikme nimi</th>
    {% if canSeePersonalId %}
      <th class="h-text-left" data-visible="false">Isikukood</th>
    {% endif %}
    <th data-sortable="true" class="h-text-left">Häälerühm</th>
    <th class="h-text-left" data-visible="false">Hääle kõrgus</th>
    <th class="h-text-left">Telefoninumber</th>
    <th class="h-text-left">Email</th>
    <th data-sortable="true" class="h-text-left">Sünnipäev</th>
    <th data-sortable="true" class="h-text-left">Amet naiskooris</th>
    <th class="h-text-left" data-visible="false">Noorlaulja</th>
    <th class="h-text-left" data-visible="false">Tudeng</th>
    <th class="h-text-left" data-visible="false">TÜ tudeng/vilistlane</th>
    <th class="h-text-left" data-visible="false">Reservlane</th>
    <th data-sortable="true" class="h-text-left" data-visible="false">Juhatuse amet</th>
    {% if canEditUserChoirRoles %}
      <th class="h-text-center">Tegevused</th>
    {% endif %}
  </tr>
{% endblock %}

{% block table_body %}
  {% for user in users %}
    <tr>
      {% if canSendGroupEmails %}
        <td>
          <input type="checkbox" value="{{user.user_email}}" class="sendEmailTo">
        </td>
      {% endif %}
      <td>
        <img class="users-table__avatar" src="{{ function('get_avatar_url', user.ID) }}">
      </td>
      <td>
        <a href="{{ function('get_author_url', user.ID) }}" class="open-new-window">
          {{ user.display_name }}
        </a>
      </td>
      {% if canSeePersonalId %}
        <td>{{ user.personal_id }}</td>
      {% endif %}
      <td>{{ user.voice }}</td>
      <td>{{ user.voice_pitch }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.user_email }}</td>
      <td>{{ user.birthday|date("d.m.Y") }}</td>
      <td>{{ returnUserRoleDisplayName(user.roles) }}</td>
      <td>{{ user.is_new_singer }}</td>
      <td>{{ user.is_student }}</td>
      <td>{{ user.is_student_or_graduate }}</td>
      <td>{{ user.in_reserve }}</td>
      <td>{{ user.title }}</td>
      {% if canEditUserChoirRoles %}
        <td>{% include "components/user-info.twig" %}</td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
