{% extends "components/tables/table.twig" %}

{% block table_classes %}
  class="naiskoor-table users-table"
{% endblock %}

{% block table_header %}
  <tr>
    {% if canSendGroupEmails %}
      <th data-width="36" class="h-text-center table-cell--fixed users-table__checkbox-js">
        <input onClick="toggleAllUsersCheckboxes(this)" type="checkbox" value="{{user.user_email}}">
      </th>
    {% endif %}
    <th class="h-text-center table-cell--fixed users-table__avatar-js">Pilt</th>
    <th class="h-text-left table-cell--fixed users-table__name-js">Liikme nimi</th>
    {% if canSeePersonalId %}
      <th class="h-text-left">Isikukood</th>
    {% endif %}
    <th data-sortable="true" class="h-text-left">Häälerühm</th>
    <th data-sortable="true" class="h-text-left">Tiitel</th>
    <th class="h-text-left">Telefoninumber</th>
    <th class="h-text-left">Email</th>
    <th data-sortable="true" class="h-text-left">Sünnipäev</th>
    <th data-sortable="true" class="h-text-left">Amet naiskooris</th>
    <th class="h-text-center">Tegevused</th>
  </tr>
{% endblock %}

{% block table_body %}
  {% for user in users %}
    <tr>
      {% if canSendGroupEmails %}
        <td>
          <input type="checkbox" value="{{user.user_email}}" class="sendEmailTo">
        </td>
      {% endif %}
      <td>
        <img class="users-table__avatar" src="{{ function('get_avatar_url', user.ID) }}">
      </td>
      <td>{{ user.display_name }}</td>
      {% if canSeePersonalId %}
        <td>{{ user.personal_id }}</td>
      {% endif %}
      <td>{{ user.voice }}</td>
      <td>{{ user.title }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.user_email }}</td>
      <td>{{ user.birthday|date("d.m.Y") }}</td>
      <td>{{ returnUserRoleDisplayName(user.roles) }}</td>
      {% if isAdministrator %}
        <td>{% include "components/user-info.twig" %}</td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
