{% if current_user.ID == author.ID or isAdministrator %}
<form action="#" method="POST">
{% endif %}
	<table>
		<tr>
			<td class="author-page-table-label">
			Eesnimi
			</td>
			{% if isAdministrator or current_user.ID == author.ID %}
				<td>
					<input autocomplete="off" required type="text" name="first_name" value="{{ author.first_name }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.first_name }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Perenimi
			</td>
			{% if current_user.ID == author.ID or isAdministrator %}
				<td>
					<input autocomplete="off" required type="text" name="last_name" value="{{ author.last_name }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.last_name }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				E-mail
			</td>
			{% if current_user.ID == author.ID or isAdministrator %}
				<td>
					<input autocomplete="off" required type="email" name="email" value="{{ author.user_email }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="email" value="{{ author.user_email }}" disabled>
				</td>
			{% endif %}
		</tr>
		{% if authorCanSeePersonalId or current_user.ID == author.ID %}
			<tr>
				<td class="author-page-table-label">
					Isikukood
				</td>
				{% if current_user.ID == author.ID or isAdministrator %}
					<td>
						<input autocomplete="off" required type="number" name="personal_id" value="{{ author.personal_id }}">
						{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
					</td>
				{% elseif authorCanSeePersonalId %}
					<td>
						<input class="author-input-disabled" type="text" value="{{ author.personal_id }}" disabled>
					</td>
				{% endif %}
			</tr>
		{% endif %}
		<tr>
			<td class="author-page-table-label">
				Telefon
			</td>
			{% if current_user.ID == author.ID or isAdministrator %}
				<td>
					<input autocomplete="off" required type="number" name="phone_number" value="{{ author.phone_number }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.phone_number }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Sünnipäev
			</td>
			{% if isAdministrator or current_user.ID == author.ID  %}
				<td>
					<input class="author-page-birthday" required type="date" name="birthday" value="{{ author.birthday | date("Y-m-d") }}">
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.birthday | date("d.m.Y") }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Tudeng
			</td>
			{% if current_user.ID == author.ID or isAdministrator %}
				<td class="author-page-select-input">
					<select class="author-page-select" required data-current-value="{{ author.is_student }}" name="is_student">
						<option value="Jah">Jah</option>
						<option value="Ei">Ei</option>
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.is_student }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Seos Tartu Ülikooliga
			</td>
			{% if current_user.ID == author.ID or isAdministrator %}
				<td class="author-page-select-input">
					<select class="author-page-select" required data-current-value="{{ author.is_student_or_graduate }}" name="is_student_or_graduate">
						<option value="TÜ tudeng">TÜ tudeng</option>
						<option value="TÜ vilistlane">TÜ vilistlane</option>
						<option value="Muu seos TÜ-ga">Muu seos TÜ-ga</option>
						<option value="TÜ-ga seos puudub">TÜ-ga seos puudub</option>
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.is_student_or_graduate }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Häälerühm ja kõrgus
			</td>
			{% if isAdministrator %}
				<td class="author-page-select-input">
					<select class="author-page-select" required data-current-value="{{ author.voice_and_pitch }}" name="voice_and_pitch">
						<option value="I sopran, kõrge">I sopran, kõrge</option>
						<option value="I sopran, madal">I sopran, madal</option>
						<option value="II sopran, kõrge">II sopran, kõrge</option>
						<option value="II sopran, madal">II sopran, madal</option>
						<option value="I alt, kõrge">I alt, kõrge</option>
						<option value="I alt, madal">I alt, madal</option>
						<option value="II alt, kõrge">II alt, kõrge</option>
						<option value="II alt, madal">II alt, madal</option>
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.voice_and_pitch|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Noorlaulja
			</td>
			{% if isAdministrator %}
				<td class="author-page-select-input">
					<select class="author-page-select" required data-current-value="{{ author.is_new_singer }}" name="is_new_singer">
						<option value="Ei">Ei</option>
						<option value="Jah">Jah</option>
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.is_new_singer|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Reservlane
			</td>
			{% if isAdministrator %}
				<td class="author-page-select-input">
					<select class="author-page-select" required data-current-value="{{ author.in_reserve }}" name="in_reserve">
						<option value="Ei">Ei</option>
						<option value="Jah">Jah</option>
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.in_reserve|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Amet naiskooris
			</td>
			{% if isAdministrator %}
				<td>
					<input autocomplete="off" type="text" name="title" value="{{ author.title }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.title|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Lauluema
			</td>
			{% if isAdministrator %}
				<td>
					<input autocomplete="off" type="text" name="singing_mentor" value="{{ author.singing_mentor }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.singing_mentor|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Laululapsed
			</td>
			{% if isAdministrator %}
				<td>
					<input autocomplete="off" type="text" name="singing_apprentices" value="{{ author.singing_apprentices }}">
					{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.singing_apprentices|default('-') }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Roll siseveebis
			</td>
			{% if isAdministrator and current_user.ID != author.ID %}
				<td>
					<select name="role" required>
						{% set authorRole = author.roles | list %}
						{% for key, role in listOfRoles %}
							<option
								{% if role == authorRole %}
									selected
								{% endif %}
								value="{{ key }}">{{ role }}
							</option>
						{% endfor %}
					</select>
				</td>
			{% else %}
				<td>
					<input class="author-input-disabled" type="text" value="{{ author.roles | list }}" disabled>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td class="author-page-table-label">
				Registreerimise aeg
			</td>
			<td>
				<input class="author-input-disabled" type="text" value="{{ author.user_registered }}" disabled>
			</td>
		</tr>
	</table>
{% if current_user.ID == author.ID or isAdministrator %}
	<input type="hidden" value="{{ author.ID }}" name="userID">
	<input type="hidden" value="{{ author.user_email }}" name="currentEmail">
	<div class="button-center h-padding-top-lg">
		<input name="editUserInfo" type="submit" value="Salvesta andmed" class="author-submit-button">
	</div>
	{{ function('wp_nonce_field', 'submit_user_data', 'uform_generate_nonce' )}}
</form>
{% endif %}
