<form action="#" method="POST">
    <table>
        <tr>
            <td>
                Eesnimi                        
            </td>
            <td>
                <input type="text" name="firstName" value="{{ author.first_name }}">
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr>
        <tr>
            <td>
                Perenimi
            </td>
            <td>
                <input type="text" name="lastName" value="{{ author.last_name}}">
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr>
        <tr>
            <td>
                Isikukood
            </td>
            <td>
                
                <input type="text" name="personalId" value="{{ author.personal_id_code}}" disabled>
            </td>
            <td>
            </td>
        </tr>
        
        <tr>
            <td>
                E-mail
            </td>
            <td>
                <input type="email" name="email" value="{{ author.user_email }}">
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr> 
        <tr>
            <td>
                Telefon
            </td>
            <td>
                <input type="number" name="phoneNumber" value="{{ author.phone_number }}">
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr>
        <tr>
            <td>
                Aadress
            </td>
            <td>
                <input type="text" name="homeAdress" value="{{ author.home_address }}">
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr>
        <tr>
            <td>
                Häälerühm
            </td>
            <td>
                <input type="text" name="voice" value="{{ author.voice }}" disabled>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Tudeng
            </td>
            <td>
                <select name="isInSchool" value="{{ author.is_in_school }}">
                    <option value="Jah">Jah</option>
                    <option value="Ei">Ei</option>
                </select>
                <input type="text" name="isInSchool" value="{{ author.is_in_school }}" disabled>
            </td>
            <td>
                {% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
            </td>
        </tr>
        <tr>
            <td>
                Noorlaulja
            </td>
            <td>
                <input type="text" value="ei" disabled>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Tiitel
            </td>
            <td>
                <input type="text" value=" {{ author.title }}" disabled>

               
            </td>
        </tr>
        <tr>
            <td>
                Roll veebilehel
            </td>
            <td>
                <input type="text" value="{{ function('returnUserRoles', author.roles)}}" 
                disabled>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Sünnipäev
            </td>
            <td>
                <input type="text" value="{{ function('calculateBirthday', author.personal_id_code) }}" disabled>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Registreerimise aeg
            </td>
            <td>
                <input type="text" value="{{ author.user_registered }}" disabled>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <input type="hidden" value="{{ author.ID }}" name="userID">
    <input type="hidden" value="{{ author.user_email }}" name="currentEmail">
    <div class="button-center h-padding-top-lg">
    <input name="editUserInfo" type="submit" value="Muuda infot"  class="stylised-button">
    </div> 
  </form>