{# Built using this: https://jquerymodal.com/ #}

<div class="single-event-heading-container">
      <a class="post-edit-link-mobile" href="#modalButton{{ post.id }}" rel="modal:open">{% include 'components/icon.twig' with { name: 'sprite-pencil-fill' }%}</a>
      <a href="#modalButton{{ post.id }}" rel="modal:open" class="post-edit-link h-margin-bottom-lg">Muuda</a>
</div>
<div id="modalButton{{ post.id }}" class="modal h-margin-top-lg ">
    <h1 class="h3 h-margin-bottom-sm">Muuda: {{post.title}}</h1>

      {{ function('editPostInfo', post.id )  }}
  </div>
  
<!-- Link to open the modal -->
