<div class="single-event-heading-container">
    <a class="post-edit-link-mobile" href="{{ function('returnDocumentsUrl') }}">{% include 'components/icon.twig' with { name: 'sprite-arrow-left-circle-fill' }%}</a>
    <h3 class="h3 h-margin-bottom-lg single-event-heading__title">{{title}}</h3>
        <a class="post-edit-link h-margin-bottom-lg" href="{{ function('returnDocumentsUrl') }}">{{link_text}}</a>
    </div>
    {{ function('editPostInfo', post.id )  }}

