<div class="single-post-info-container">
    <div class="single-post-description-container">
        <div class="single-post-going h-margin-bottom-lg">
            <select>
                  <option value="1">Pole vastanud</option>
                  <option value="1">Pole vastanud</option>
                  <option value="2">Osalen</option>
                  <option value="3">Ei osale</option>
                </select>
        </div>
        <div class="single-post-text-container h-margin-bottom-sm-md"> {% include 'components/icon.twig' with { name: 'sprite-clock-fill' } %}{{ post.datestart| date("d. F Y. &#8226; H:i")}} - {{ post.dateend | date("G:i")}}</div>
        <div class="single-post-text-container h-margin-bottom-sm-md">{% include 'components/icon.twig' with { name: 'sprite-geo-alt-fill' }%}{{ post.location}}</div>
        <div class="single-post-text-container h-margin-bottom-sm-md">{% include 'components/icon.twig' with { name: 'sprite-person-fill' }%}{{post.organizer}}</div>
        <a class="single-post-text-container h-margin-bottom-sm-md" href="{{post.info_page}}" target=" _blank ">{% include 'components/icon.twig' with { name: 'sprite-info-circle-fill' }%}Link infolehele</a>
        <div class="single-post-description ">{{post.description}}</div>
    </div>
    <div class="single-post-image-container ">
        <img src="{{ Image(post.image).src|resize(800, 500) }} ">
    </div>
</div>