<table
data-toggle="table"
data-search="true"
class="users-table"
fixedColumns = "true"
fixedNumber = "2"
>
  <thead>
    <tr>
      {% if canSendGroupEmails %}
          <th>E-mail</th>
      {% endif %}
      <th>Pilt</th>
      <th class="name-column">Liikme nimi</th>
      {% if isABookie or  choirBoss %}
          <th>Isikukood</th>
      {% endif %}
      <th data-sortable="true">Häälerühm</th>
      <th data-sortable="true">Tiitel</th>
      <th>Telefoninumber</th>
      <th>Email</th>
      <th data-sortable="true">Sünnipäev</th>
      <th data-sortable="true">Amet naiskooris</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      {% if canSendGroupEmails %}
      <td class="sticky-background-color">
        <input type="checkbox" value="{{ user.user_email }}" class="sendEmailsTo">
      </td>
      {% endif %}
      <td class="sticky-background-color">
        <img src="{{ function('get_avatar_url', user.ID) }}">
      </td>

      <td  class="name-column sticky-background-color">
        {{user.display_name}}
      </td>
      {% if isABookie or choirBoss %}
        <td>
          {{ user.personal_id }}
        </td>
      {% endif %}
      <td>{{ user.voice }}</td>
      <td>{{ user.title }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.user_email }}</td>
      <td>
        {{ function('calculateBirthday', user.personal_id )}}
      </td>
      <td>
        {{ function('returnUserRoles', user.roles)}}
      </td>
      <td> {% include "components/user-info.twig" %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>